@charset "UTF-8";

#cover-img-container {
	width: 100vw;
	height: 40vh;
	overflow: hidden;
}
#cover-img-container img {
	width: 100%;
	position: relative;
	top: -30%;
}

.table-container {
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 10% 1.5rem 10%;
}
.table {
	width: 100%;
	border-collapse: collapse;
}
.table .header-row .cell {
	background-color: var(--primary-color);
	padding: 0.75rem 1rem;
	color: white;
}
.table .content-row .cell {
	background-color: white;
	padding: 0.5rem 1rem;
	color: #060606;	
	transition: background-color 0.1s;
}
.table .content-row:nth-child(2n+1) .cell {
	background-color: #B0B0B0;
}
.table .header-row .cell {
	border-right: solid 1px #03439a; 
}
.table .header-row :last-child {
	border-right: none;
}
.table .content-row .cell {
	border-right: solid 1px #565656;
}
.table .content-row :last-child {
	border-right: none;
}
.table .content-row:has(.cell:hover) .cell {
	background-color: #6378A6;
}
.table .content-row .code {
	text-align: center;
	max-width: 8ch;
}
.table .content-row .name {
	text-align: left;
	width: 80ch;
}
.table .content-row .price {
	text-align: right;
	max-width: 20ch;
}
.table .content-row .priceVarPos, .table .content-row .priceVarNeg {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	text-align: right;
	max-width: 25ch;	
}
.table .content-row .priceVarNeg {
	color: red;
}
.table .content-row .priceVarPos {
	color: green;
}